<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/stylesheet.css">
        <title>Technical Request List</title>
    </head>
    <body>
        <h1>Technical Request List</h1>
        <p><a href="/">Technical Request Form Link</a></p>
        <!-- display database as a table -->
        <table>
            <tr>
                <th>Email</th>
                <th>Description</th>
                <th>Due Date</th>
            </tr>
            <!-- Pull data from database -->
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>